<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">          
             <div class="row">
                <div class="col-sm-1 col-md-2 col-xs-2">
                    <img  src="images/logo_comune_80x80.gif" alt="icon" style="width:50px; height: auto;">
                </div>
                <div class="col-sm-11 col-md-10 col-xs-10">
                    <h2>Comune di Rimini</h2>
                </div>
              </div>
         

    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">

          

          <h3>Elezioni - Rest/Soap Gateway per comunicazioni ministero</h3>
          <p>Client REST per i web service Elettorali, permette di interfacciare attraverso chiamate REST il web service del Ministero per le comunicazioni elettorali.</p>
          

  <h3>Azioni e link</h3>

  <a class="btn btn-block btn-success btn-raised btn-sm" ui-sref="infoElezione" ui-sref-active="active">Log live delle operazioni</a>

  
  <a class="btn btn-lg btn-raised btn-secondary" href="http://10.10.128.79:5601/app/kibana">Kibana Log</a>
  <a class="btn btn-lg btn-raised btn-secondary" href="https://github.com/paulodiff/elezioni">GitHub repository</a>
  <a class="btn btn-lg btn-raised btn-secondary" href="./docs/log.html">Old - docs/log.html</a>

  <h3>Parametri</h3>
       
  <ul>
      <li><b>id_elezione:</b>{{n.data.id_elezione}}</li>
      <li><b>keyFile_produzione:</b>{{n.data.keyFile_produzione}}</li>
      <li><b>keyFile_test:</b>{{n.data.keyFile_test}}</li>
      <li><b>log_filename:</b>{{n.data.log_filename}}</li>
      <li><b>log_level:</b>{{n.data.log_level}}</li>
      <li><b>elastic_url:</b>{{n.data.elastic_url}}</li>
      <li><b>ws_call_url:</b>{{n.data.ws_call_url}}</li>
      <li><b>action_url_produzione:</b>{{n.data.action_url_produzione}}</li>
      <li><b>action_url_test:</b>{{n.data.action_url_test}}</li>
      <li><b>rest_url_produzione:</b>{{n.data.rest_url_produzione}}</li>
      <li><b>rest_url_test:</b>{{n.data.rest_url_test}}</li>


</ul>
  
      <pre>{{n}}</pre>

<!--
  <div class="form-group">
  <div class="checkbox">
    <label>
      <input type="checkbox"  ng-model="btnCheck"> dichiaro di aver compreso le limitazioni del servizio e di voler procedere all'inoltro dell'istanza (obbligatorio per procedere)
    </label>
  </div>
</div>
  
    <div class="panel-footer"> 
          <button  class="btn btn-raised btn-raised btn-success btn-block" ng-disabled="!btnCheck" ng-click="goToInviaIstanza()">Procedi</button>
    </div>
-->


        </div>
      </div>
    </div>

      

     

  </div>
</div>
</div>