<div class="container-fluid">


    <div class="panel panel-default">
    <div class="panel-heading"><h3>Info Elezione <small>({{channelId}})</small></h3></div>
    <div class="panel-body">

            <div class="progress">
                    <div class="progress-bar" role="progressbar" 
                    ng-style="{'width':progress.ValuePercent+'%'}" 
                    aria-valuenow="{{progress.Value}}" 
                    aria-valuemin="0" 
                    aria-valuemax="{{progress.Max}}"></div>
            </div>
            <div id="grid1" ui-grid-pinning ui-grid-expandable ui-grid="gridOptions"></div>
    </div>
  </div>



<div class="panel panel-success">
    <div class="panel-heading">Azioni:</div>
    <div class="panel-body">
      <p><b>Info</b></p>

        <div class="btn-group" role="group">
            <button  class="btn btn-raised btn-raised btn-warning" ng-click="testSse()">testSse</button>
            <button  class="btn btn-raised btn-raised btn-success" ng-click="broadcastSse()">broadcastSse</button>
            <button  class="btn btn-raised btn-raised btn-confirm" ng-click="checkSse()">checkSse</button>
            <button  class="btn btn-raised btn-raised btn-confirm" ng-click="cleanData()">Reset data</button>
            <button  class="btn btn-raised btn-raised btn-confirm" ng-click="postTestData()">Post Test data</button>
        </div>
    </div>
</div>



</div>